header{
  background: black;
  color: white;
  display: block;
  border: solid 4px black;
}

h1{
  margin: 0;
  padding: 0;
}

.title{
  display: inline-block;
  margin: 0;
  padding: 15px 2.5%;
}

nav{
  display: inline-block;
  text-align: right;
}

a.nav-item{
  color: white;
  margin: 0 2%;
  display: inline-block;
}

.hamburger-container{
  display: none;
}

.hamburger-icon{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  line-height: 0;
  color: white;
}

@media (max-width: 767px) {
  .hamburger-container{
    display: inline-block;
    text-align: right;
    padding: 25px 2%;
  }

  .hamburger-icon{
    display: inline-block;
    text-align: right;
  }

  a.nav-item {
    text-align: center;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    margin: 0;
  }

  .nav-item:hover, .nav-item:focus{
    background: white;
    color: black;
    font-weight: bold;
  }

  nav {
    display: none;

  }

}
