body{
  font-family: 'Lato', sans-serif;
}

@media (min-width: 600px) {
  #querything {
    font-size:100px;
  }
}

#querything{
  color: red; 
}

/*h1{
  color: red;
  padding: 0;
  margin: 10px 0 0 0;
  display: inline-block;
}

h2{
  display: inline-block;  
}*/

.continues{
  display: block;
  text-align: right;
  color: red;
}

img{
  width: 100%;
}

.top-nav-item{
  color: #fff ;
  font-size: 1.25em;
  background: black;
  text-align: center;
  padding: 15px 0;
}

.top-nav-item:hover{
  background: #aa0000;
  color: #000;
  text-decoration: none;
}