#right-count, #wrong-count, #total-count {
  display: inline-block;
  border-bottom: 1px solid #666;
  min-width: 1rem;
  text-align: center;
}

#right-response, #wrong-response, #close-response, #no-response {
  display: none;
}